extends layout
include videoList
block content
  if hint
    div= hint
  div.row
    - for (var j = 0; j < 3; j++)
        div.col-lg-4
          - for (var i = j; i < authors.length; i += 3)
            div.author-warper
              a.link(href='/author/'+authors[i].name)
              img(src='/img/author/'+authors[i].name+'_large.jpg' width="128px" height="128px")
              p
                a.link(href='/author/'+authors[i].name)= authors[i].name
              p
                form(method='POST' action='/author')
                  input(type='hidden', name='_csrf', value=token)
                  input(type='hidden', name='authorName', value=authors[i].name)
                  if user && user.following.indexOf(authors[i].name) !== -1
                    input(type='submit', value='已关注')
                  else
                    input(type='submit', value='关注')