extends layout
include videoList
block content
  if hint
    p.text-center.hint.well= hint
  div.row
    - for (var j = 0; j < 4; j++)
        div.col-xs-3
          - for (var i = j; i < authors.length; i += 4)
            div.author-warper.text-center
              a.link(href='/author/'+authors[i].name+"/" alt=authors[i].name title=authors[i].name)
                img(src='/img/author/'+authors[i].name+'_large.jpg' width="128" height="128")
              p
                a.link(href='/author/'+authors[i].name+"/")= authors[i].name
              p
                +makeFollowAuthorButton(user, authors[i].name, req)
