extends layout
include videoList
block content
  if title === 'Following'
    a(type="button" class="btn btn-default" href="/following/p/"+page) 顺序查看
  else
    a(type="button" class="btn btn-default" href="/p/"+page) 顺序查看
  each val, key in groups
    div
      +makeAuthorIcon(key, "24px", "24px")
      = key
      +makeFollowAuthorButton(user, key, req, 'xs')

    +makeList(val)
  +makePageButton()