extends layout
include videoList
block content
  if title === 'Following'
    a(type="button" class="btn btn-default" href="/following/p/"+page) 顺序查看
  else
    a(type="button" class="btn btn-default" href="/p/"+page) 顺序查看
  each val, key in groups
    p
      +makeAuthorIcon(key, "24px", "24px")
      span.big
        = key
        +makeFollowAuthorButton(user, key, req)

    +makeList(val)
  +makePageButton()