extends layout
include videoList
block content
  if title === 'Newest' || title === 'Following'
    - var ref = genurl(params, {groupby: 'authorName'})
    a(class="btn btn-default" href=ref) 按解说查看
  +makeList(items, true, "videolist")
  +makePageButton()
