extends layout
include videoList
block content

  #groupbutton.btn-group
    a(type="button" class="btn btn-default" href="/groupbyauthor") Author
    a(type="button" class="btn btn-default" href="/groupbylastvisit") LastVisit
    a(type="button" class="btn btn-default" href="/groupbylastdate") Date

  +makeList(items, "videolist")

  #pagebutton.btn-group.pull-right
    - if (prevpage != 0)
      a(type="button" class="btn btn-default" href=pageprefix+"./"+prevpage) PrevPage
    a(type="button" class="btn btn-default" href=pageprefix+"./"+nextpage) NextPage