doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='DodiDota, 一个Dota视频网站 - yet another dota video site.')
    meta(name='keywords', content='DodiDota Dota video 视频 Dota2')
    meta(name='author', content='EasyHard')
    link(rel="icon" type="image/png" href="/favicon.png")
    title #{title} - DodiDota, 一个Dota视频网站 - yet another dota video site.
    != css('styles')
    != js('application')
  body
    .container
      img.img-responsive.banner(src="/img/banner.png", alt="banner", title="banner")
    .container
      include partials/navigation

    #wrap
      .container
        .realcontainer
          include partials/flash
          block content
    include partials/footer

    script(src="/js/ga.js")
