mixin makeTournamentList(tournaments, legendTitle)
  if tournaments && tournaments.length !== 0
    if legendTitle
      legend= legendTitle
    ul.list-group
      for tour in tournaments
        - var href="/tournament/"+tour.name;
        - href += urlparam? "?" + urlparam : "";
        a.list-group-item(href=href)
          img(src="/img/tournaments/"+tour.icon height="24" style="margin-right:8px;")
          = tour.name