mixin makeList(videos, id)
  div.list-group(id=id)
    each video in videos
      a.list-group-item(href="/video/"+video.id)
        img.author-icon(src="/img/author/"+video.authorName+".jpg" height="32px" alt=video.authorName style="z-index:5")
        != video.title
        img.pull-right.video-icon(src='/img/video_icon.png' height="24px" style="margin-left:16px")
        p.pull-right= video.formattedPublished

